.select-system-config {
  border: 1px solid #c0c0c0;
  border-radius: 2px;
  background: #fff;
  min-height: 420px;
  width: 800px;
  margin: 100px auto;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  padding-bottom: 60px;
}
.select-system-config__step-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-around;
}
.select-system-config__steps-action {
  position: absolute;
  right: 20px;
  bottom: 20px;
  margin-top: 20px;
}
.select-system-config__steps-action button {
  margin: 0 4px;
  float: right;
}
.select-system-config img {
  filter: grayscale(100%);
}
.select-system-config .isSelect {
  filter: none;
}

.ant-card-body {
  padding: 8px !important;
}

/*# sourceMappingURL=SelectSystemConfig.css.map */
