.app {
  width: 800px;
  margin: 0 auto;
}
.app__title {
  text-align: center;
  margin: 30px 0;
  font-size: 60px;
  font-weight: 300;
}
.app__title-span {
  position: relative;
}
.app__desc, .app__start {
  margin: 25px 0;
  text-align: center;
}
.app__start {
  margin: 80px 0;
}
.app__lang-switcher {
  position: absolute;
  top: 10px;
  right: 12px;
}
.app__text-field {
  margin-top: 8px !important;
}
.app__text-field input {
  text-indent: 16px;
}
.app__system-wrap {
  width: 700px;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fafafa;
  border-radius: 2px;
  overflow: auto;
}
.app__system-wrap-title {
  margin: 0;
  padding: 10px 20px;
  border-bottom: 1px solid #eee;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}
.app__system-wrap-body {
  margin-top: 54px;
  overflow: auto;
  height: 450px;
}
.app__system-list {
  width: 700px;
  height: 500px;
}
.app__text-editor-wrap {
  display: block;
  margin: auto;
  max-width: 740px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 20px 70px;
  clear: both;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.app__text-body {
  height: 120px;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 10px;
  color: #f0f0f0;
  text-shadow: #000 0px 1px 0px;
  font-family: "Consolas", "Courier New", "Courier";
  font-weight: bold;
  text-align: left;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.app__button {
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 10px;
  padding-right: 20px;
}
.app__title-bar {
  padding: 5px 0;
  font-family: "Lucida Grande", sans-serif;
  font-size: 0.75em;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.8) 0px 1px 0px;
  background-color: #f8f8f8;
  background-image: -webkit-linear-gradient(to bottom, #e8e8e8, #bcbbbc);
  background-image: -moz-linear-gradient(to bottom, #e8e8e8, #bcbbbc);
  background-image: linear-gradient(to bottom, #e8e8e8, #bcbbbc);
  box-shadow: inset rgba(255, 255, 255, 0.7) 0px 1px 1px;
  border-bottom: #6a6a6a 1px solid;
}
.app__ports {
  font-weight: bold;
}

/*# sourceMappingURL=App.css.map */
